<section class="container centered">
  <div class="about">
    <h1>{{ .Site.Params.author }}</h1>
    <body>{{ .Site.Params.info }}</body> <br> 
    <body>{{ .Site.Params.info2 }}</body> <br> 
   <!--  <body> My job market paper: </body> <br>  -->
      <body><a href="{{ .Site.Params.jobmarketpaperurl }}">{{ .Site.Params.jobmarketpapertitle }}</a></body>
     <p align="left">{{ .Site.Params.jobmarketpaperabstract }} </p>
    <ul>
      {{ range sort .Site.Params.social }}
      <li><a href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    <img src="{{ .Site.Params.pic }}" alt="Me">
  </div>
  
</section>
